.berechnung {
    width: 100vw;
    height: 100px;
    display: flex;

}
.berechnung div {
    padding: 0 5px;
    width: 200px;
}

#loesung-uber {
    display:none;
}
#loesung-anzahl {
    display:none;
}
#loesung-capacity {
    display:none;
}
#loesung-volt {
    display:none;
}
#loesung-watt {
    display:none;
}
